@model List<Degree>
@{
    ViewData["Title"] = "Degrees";
}

<div class="row mb-3">
    <div class="col">
        <h1 class="display-6">@ViewData["Title"]</h1>
        <hr />
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <a asp-action="Add" class="btn btn-primary btn-sm" title="New Degree"><i class="fa fa-plus me-2"></i>New Degree</a>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        @if (Model.Count() == 0)
        {
            <div class="row mt-4">
                <div class="col-md-12">
                    <span class="alert alert-danger text-center">No data</span>
                </div>
            </div>
        }
        else
        {
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created At</th>
                        <th>Modified At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Degree item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.ModifiedDate</td>
                            <td class="text-end">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm text-white" title="Edit"><i class="fa fa-edit me-2"></i>Edit</a>
                                <a asp-action="Remove" asp-route-id="@item.Id"
                           onclick="return confirm('Are you sure want to remove this degree : @item.Name ?')" asp-route-id="@item.Id"
                           class="btn btn-danger btn-sm" title="Remove"><i class="fa fa-trash me-2"></i>Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section scripts{
    @if (TempData["resultDegree"] != null)
    {
        <script>
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"]("@TempData["resultDegree"]", "Degree");
            toastr.options = null;
        </script>
    }
}
