@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - Pursue of Staff Area</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/web/assets/img/favicon.png" rel="icon">
    <link href="~/web/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/web/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/toastr.js/toastr.css" rel="stylesheet" />
    <link href="~/web/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/web/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/web/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/web/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/web/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/web/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/web/assets/css/style.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/validation-summary-errors.css" rel="stylesheet" />
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-controller="Home" asp-action="Index" title="Pursue of Staff Area" class="logo d-flex align-items-center">
                <img src="~/web/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Pursue of Staff Area</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="d-flex align-items-center">
                    <li class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img src="~/uploads/img/staffs/user.png" alt="Profile" class="rounded-circle">
                            <span class="d-none d-md-block dropdown-toggle ps-2">@User.FindFirst("Username").Value&nbsp;(@User.FindFirstValue(ClaimTypes.Role))</span>
                        </a><!-- End Profile Iamge Icon -->
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>@User.Identity.Name</h6>
                                <span>@User.FindFirstValue(ClaimTypes.Actor)</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                    <i class="bi bi-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <script src="~/toastr.js/toastr.min.js"></script>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" asp-controller="Account" asp-action="SignOut">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->
                </ul>
            }
        </nav><!-- End Icons Navigation -->
    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link " asp-controller="Home" asp-action="Index" title="Dashboard">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li> <!-- End Dashboard Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#staff-nav" data-bs-toggle="collapse" href="#" title="Staff">
                        <i class="fa-solid fa-user me-2"></i><span>Staff</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="staff-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-controller="Staff" asp-action="List" title="Staffs">
                                <i class="fa-solid fa-list me-2"></i><span>List Staffs</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Staff" asp-action="Add" title="Add Staff">
                                <i class="fa-solid fa-plus me-2"></i><span>Add Staff</span>
                            </a>
                        </li>
                    </ul>
                </li> <!-- End Staff Nav -->               
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#area-nav" data-bs-toggle="collapse" href="#" title="Area">
                        <i class="fa-solid fa-location-pin me-2"></i><span>Area</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="area-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-controller="Area" asp-action="List" title="List Areas">
                                <i class="fa-solid fa-list me-2"></i><span>List Areas</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Area" asp-action="Add" title="Add Area">
                                <i class="fa-solid fa-plus me-2"></i><span>Add Area</span>
                            </a>
                        </li>
                    </ul>
                </li> <!-- End Area Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#dutyassign-nav" data-bs-toggle="collapse" href="#" title="DutyAssign">
                        <i class="fa-solid fa-bars-progress me-2"></i><span>DutyAssign</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="dutyassign-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-controller="DutyAssign" asp-action="List" title="List DutyAssigns">
                                <i class="fa-solid fa-list me-2"></i><span>List DutyAssigns</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="DutyAssign" asp-action="Add" title="Add DutyAssign">
                                <i class="fa-solid fa-plus me-2"></i><span>Add DutyAssign</span>
                            </a>
                        </li>
                    </ul>
                </li> <!-- End DutyAssign Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#allowrequest-nav" data-bs-toggle="collapse" href="#" title="AllowRequest Operations">
                        <i class="fa-brands fa-squarespace me-2"></i><span>AllowRequest Operations</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="allowrequest-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-controller="AllowRequest" asp-action="List" title="List AllowRequests">
                                <i class="fa-solid fa-list me-2"></i><span>List AllowRequests</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="AllowRequest" asp-action="Add" title="Add AllowRequest">
                                <i class="fa-solid fa-plus me-2"></i><span>Add AllowRequest</span>
                            </a>
                        </li>
                    </ul>
                </li> <!-- End AllowRequest Nav -->

                <li class="nav-heading">Account</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#profile-nav" data-bs-toggle="collapse" href="#" title="Account Settings">
                        <i class="fa-solid fa-user-gear me-2"></i><span>Account Settings</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="profile-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-controller="Account" asp-action="MyProfile" title="My Profile">
                                <i class="fa-solid fa-user-pen me-2"></i><span>My Profile</span>
                            </a>
                        </li>
                    </ul>
                </li> <!-- End Profile Page Nav -->
                if (User.IsInRole("admin"))
                {
                    <li class="nav-heading">Admin</li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#allowtype-nav" data-bs-toggle="collapse" href="#" title="Staff">
                            <i class="fa-brands fa-slack me-2"></i><span>AllowType</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="allowtype-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                            <li>
                                <a asp-controller="AllowType" asp-action="List" title="List AllowTypes">
                                    <i class="fa-solid fa-list me-2"></i><span>List AllowTypes</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="AllowType" asp-action="Add" title="Add AllowType">
                                    <i class="fa-solid fa-plus me-2"></i><span>Add AllowType</span>
                                </a>
                            </li>
                        </ul>
                    </li> <!-- End AllowType Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#department-nav" data-bs-toggle="collapse" href="#" title="Department">
                            <i class="fa-solid fa-building-user me-2"></i><span>Department</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="department-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                            <li>
                                <a asp-controller="Department" asp-action="List" title="List AllowTypes">
                                    <i class="fa-solid fa-list me-2"></i><span>List Departments</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Department" asp-action="Add" title="Add AllowType">
                                    <i class="fa-solid fa-plus me-2"></i><span>Add Department</span>
                                </a>
                            </li>
                        </ul>
                    </li>  <!-- End Department Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#profession-nav" data-bs-toggle="collapse" href="#" title="Profession">
                            <i class="fa-solid fa-school me-2"></i><span>Profession</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="profession-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                            <li>
                                <a asp-controller="Profession" asp-action="List" title="List Professions">
                                    <i class="fa-solid fa-list me-2"></i><span>List Professions</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Profession" asp-action="Add" title="Add Profession">
                                    <i class="fa-solid fa-plus me-2"></i><span>Add Profession</span>
                                </a>
                            </li>
                        </ul>
                    </li>  <!-- End Profession Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#duty-nav" data-bs-toggle="collapse" href="#" title="Duty">
                            <i class="fa-solid fa-signature me-2"></i><span>Duty</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="duty-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                            <li>
                                <a asp-controller="Duty" asp-action="List" title="List Dutys">
                                    <i class="fa-solid fa-list me-2"></i><span>List Dutys</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Duty" asp-action="Add" title="Add Duty">
                                    <i class="fa-solid fa-plus me-2"></i><span>Add Duty</span>
                                </a>
                            </li>
                        </ul>
                    </li> <!-- End Duty Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#degree-nav" data-bs-toggle="collapse" href="#" title="Degree">
                            <i class="fa-solid fa-bolt me-2"></i><span>Degree</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="degree-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                            <li>
                                <a asp-controller="Degree" asp-action="List" title="List Degrees">
                                    <i class="fa-solid fa-list me-2"></i><span>List Degrees</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Degree" asp-action="Add" title="Add Degree">
                                    <i class="fa-solid fa-plus me-2"></i><span>Add Degree</span>
                                </a>
                            </li>
                        </ul>
                    </li> <!-- End Degree Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#admin-nav" data-bs-toggle="collapse" href="#" title="User">
                            <i class="fa-solid fa-users me-2"></i><span>User</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="admin-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                            <li>
                                <a asp-controller="Admin" asp-action="ListUser" title="List Users">
                                    <i class="fa-solid fa-list me-2"></i><span>List Users</span>
                                </a>
                                <a asp-controller="Admin" asp-action="AddUser" title="AddUser">
                                    <i class="fa-solid fa-user-plus me-2"></i><span>Add User</span>
                                </a>
                            </li>
                        </ul>
                    </li>  <!-- End User Nav -->
                }
            }
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <section class="section dashboard">
            @RenderBody()
        </section>

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Pursue of Staff Area</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="http://welatbaran.somee.com/">Welat BARAN &copy; @DateTime.Now.Year All rights reserved </a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/web/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/web/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/web/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/web/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/web/assets/vendor/quill/quill.min.js"></script>
    <script src="~/web/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/web/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/web/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/toastr.js/toastr.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/web/assets/js/main.js"></script>

    @RenderSection("scripts",required:false);

</body>

</html>